[user]
  name = Aaron Schumacher
  email = ajschumacher@gmail.com
[core]
  editor = emacsclient -c --alternate-editor=""
[push]
  default = simple
[color]
  ui = auto
[alias]
  s = status
  st = status
  d = diff
  a = add
  unstage = "reset HEAD --"
  c = commit
  ci = commit
  co = checkout
  b = branch
  br = branch
  p = push
  u = pull upstream master
  last = "log -1 HEAD"
  l = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
  ll = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
  lol = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
