[user]
  name = Aaron Schumacher
  email = ajschumacher@gmail.com
[core]
  editor = emacs
[push]
  default = simple
[color]
  ui = auto
[alias]
  s = status
  st = status
  d = diff
  a = add
  c = commit
  ci = commit
  co = checkout
  b = branch
  br = branch
  p = push
  l = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
  ll = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
  lol = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
